$sub-color: grey;
$main-color: black;

.group {

  input,
  textarea {
    padding: 1em 2em;
    text-align: center;
    background: hsl(0, 0%, 80%);
    color: $sub-color;
    font-size: 1.25em;
    display: block;
    width: 12em;
    border: none;
    border-radius: 0;
  }

  &:not(:last-of-type) {
    border-bottom: .25em solid hsl(0, 0%, 70%);
  }

  &:focus {
    outline: none;
  }
}