@import "/src/styles/variables";

.group {
  input,
  textarea {
    padding: 1em 2em;
    text-align: center;
    background: $grey-lighten;
    color: grey;
    font-size: 1.25em;
    display: block;
    width: 12em;
    border: none;
    border-radius: 0;
  }

  &:not(:last-of-type) {
    border-bottom: .25em solid $grey;
  }

  &:focus {
    outline: none;
  }
}