$red: hsl(353, 97%, 56%);
$red-lighten: hsl(350, 100%, 61%);
$blue: hsl(207, 72%, 55%);
$blue-lighten: hsl(205, 75%, 58%);
$yellow: hsl(42, 100%, 52%);
$yellow-lighten: hsl(45, 99%, 52%);
$green: hsl(102, 59%, 44%);
$green-lighten: hsl(99, 54%, 48%);
$black: hsl(0, 0%, 12%);
$black-lighten: hsl(0, 0%, 18%);