@import "/src/styles/variables";
@import "/src/styles/mixins";

.lobby {
  display: grid;
  grid-template: 1fr auto 1fr / auto;

  animation: colorChange infinite 10s ease-in-out;

  &>* {
    margin: 0 auto;
  }

  &>:first-child {
    margin-top: auto;
  }

  &>:last-child {
    margin-bottom: auto;
  }

  .players {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 3em 0;
  }

  .start {
    @include button;
    transition: 0.1s ease-out;

    &:active {
      font-size: .875rem;
    }
  }
}