@import "/src/styles/variables";

@keyframes colorChange {
  0% {
    background-color: $red-lighten;
  }

  25% {
    background-color: $blue-lighten;
  }

  50% {
    background-color: $green-lighten;
  }

  75% {
    background-color: $yellow-lighten;
  }

  100% {
    background-color: $red-lighten;
  }
}

@mixin tooltip {
  position: absolute;
  bottom: -4em;
  padding: .75em;
  width: 10em;

  font-size: .825rem;

  color: $black;
  border-radius: 1em;
  background-color: white;
}

#lobby {
  display: grid;
  place-items: center;

  background-color: $yellow;

  animation: colorChange infinite 10s ease-in-out;

  &:hover {
    background-color: $red;
  }

  #roomId {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: .75em 1.5em;

    border: none;
    border-radius: 1em;
    background: hsl(0, 0%, 10%);

    color: white;
    font-size: 2rem;
    font-weight: bold;

    transition: 0.1s ease-out;

    gap: 1em;

    #gap {
      height: 1.75em;
      width: .25em;
      border-radius: 999rem;
      background-color: hsl(0, 0%, 25%);
    }

    &:active {
      padding: 0.875em 1.3125em;
      font-size: 1.75rem;
    }

    &:hover::after {
      content: 'Copy Room ID';
      @include tooltip;
    }

    &:hover:focus::after {
      content: 'Copied Room ID';
      @include tooltip;
    }
  }
}