@import "/src/styles/variables";
@import "/src/styles/mixins";

.roomInfo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;

  @include button;
  font-size: 2rem;

  transition: 0.1s ease-out;

  .gap {
    height: 1.75em;
    width: .25em;
    border-radius: 999rem;
    background-color: hsl(0, 0%, 25%);
  }

  &:active {
    font-size: 1.75rem;
  }

  &:hover::after {
    content: 'Copy Room ID';
    @include tooltip;
  }

  &:focus::after {
    content: 'Copied Room ID';
    @include tooltip;
  }
}